h1.display-title {
  font-family: $font-family-alt;
  text-transform: lowercase;
  font-weight: normal;
}

body {
  background-color: $color-background;
  background-image:
    // radial-gradient(circle at 45% 45%, white 30%, transparent 40%),
    linear-gradient(60deg, $color-background 0%, $color-background-gradient 100%);
}

.centered-content {
  min-height: 100vh;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column nowrap;
}

main {
  padding: 10px 20px;
  max-width: 450px;
}

ol.ext-nav {
  list-style: none;
  counter-reset: links;
  padding-left: 0px;

  li {
    counter-increment: links;
    display: inline-block;
    margin-right: 20px;
    &::before {
      content: counter(links, decimal-leading-zero) "://";
      font-family: $font-family-alt;
      color: $color-text-heading;
    }
  }
}
.meishi {
  position: fixed;
  top: 0;
  right: 0;
  max-width: 100px;
  margin: 20px;
  padding: 10px;
  writing-mode: vertical-rl;

  p {
    margin: 0;
  }
}

.rotate {
  animation: rotation 8s infinite linear;
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}