// Color Palette
// examples based on the official Sass styleguide

// descriptive colors
// =============
// 034 Lemon Gate on https://webgradients.com/
$white:      #fff;
$black:      #000;
$leaf:       #96fbc4; // #21916b;
$peony:      #b21d73;
$lemon:      #f9f586; // #fcf1af;

// main color palette
// =============
$color-primary:             $black;
$color-secondary:           $leaf;
$color-accent:              $peony;
$color-shadow:              rgba($black, .125);
$color-note:                lighten(red, .125);

// Common colors
$color-background:          lighten($leaf, 10);
$color-background-gradient: lighten($lemon, 10);
$color-background-shade:    darken($leaf, 10);
$color-background-invert:   $black;
$color-text:                $black;
$color-text-weak:           lighten($black, 40);
$color-text-strong:         $black;
$color-text-heading:        darken($leaf, 45);
$color-text-invert:         $white;
$color-text-strong-invert:  $color-background;

// Links
$color-link:                $color-primary;
$color-link-hover:          $peony;
$color-link-visited:        $peony;

// Code
$color-code:                #333;
$color-code-background:     #f3f3f3;
$color-pre:                 #d4d4d4;
$color-pre-background:      #333;

// Selections
$color-selection:           #b3d4fc;

// Messages
$color-message:             #f4ecbb;
$color-success:             #2cde2c;
$color-warning:             #cf8600;
$color-important:           #d00;
$color-notice:              #66b;