@if variable-exists(google-fonts-url) {
  @import url($google-fonts-url);
}

@if variable-exists(font-faces) {
  @each $family, $files in $font-faces {
    @each $file, $properties in $files {
      @font-face {
        font-family: $family;
        font-style: map-get($properties, "style");
        font-weight: map-get($properties, "weight");
        src: url("#{$file}.ttf");
        src: url("#{$file}.ttf") format("truetype"),
             url("#{$file}.woff") format("woff"),
             url("#{$file}.woff2") format("woff2");
      }
    }
  }
}