/// Base font family
/// @type List
$font-family-base: 'Playfair Display', $font-family-serif;
/// Accent text font family
/// @type List
$font-family-alt: 'Open Sans', $font-family-sans;
/// Code (monospace) font family
/// @type List
$font-family-code:'Inconsolata', $font-family-mono;
/// Code (monospace) font family
/// @type List
$font-family-jp: 'Noto Serif JP', serif !default;

// =====
// @note: Must review line heights, rem, etc.
// =====
// $font-size-base           : 20;
// $font-size-base-px        : $font-size-base * 1px;
// $font-size-base-narrow    : $font-size-base - 2;
// $font-size-base-narrow-px : $font-size-base-narrow * 1px;

// $leading-base             : 1.4;
// $line-height-base         : round($font-size-base * $leading-base); // 20 * 1.4
// $baseline                 : $line-height-base * 1px;
// =====

$font-family-display    : $font-family-alt;
$font-weight-display    : font-weight('bold');
$line-height-display    : 1.1;

$font-family-headings   : $font-family-base;
$font-weight-headings   : font-weight('medium');
$line-height-headings   : 1.1;

$font-family-base   : $font-family-base;
$font-weight-base   : font-weight('normal');
$line-height-base   : 1.1;




 






